#container {
  height: 100vh;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

#target {
  height: 200px;
  width: 200px;
  background-color: white;
  filter: drop-shadow(0px 0px 10px #888888);
}

#controller {
  font-family: 'Roboto', sans-serif;
  height: 265px;
  width: 400px;
  padding: 32px;
  font-size: 1em;
  color: rgba(0, 0, 0, 0.87);
  background-color: white;
  filter: drop-shadow(0px 0px 10px #888888);
}

#controller div {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 50px;
}

#controller div .inner_div {
  width: 50%;
}

#controller #color #color_input_map {
  height: 0;
  width: 0;
  visibility: hidden;
  position: absolute;
}

#controller #color #color_div_map {
  width: 40px;
  height: 40px;
  background-color: white;
  filter: drop-shadow(0px 0px 10px #888);
}

#controller #color #color_input_hex {
  width: 90px;
  height: 40px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.87);
  text-align: center;
}
