@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import "./node_modules/@material/slider/mdc-slider.import.scss";

#container{
    height: 100vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
#target{
    height: 200px;
    width: 200px;
    // test-css
    background-color: white;
    filter: drop-shadow(0px 0px 10px #888888);
}
#controller{
    font-family: 'Roboto', sans-serif;
    width: 450px;
    padding: 32px;
    font-size: 1em;
    color: rgba(0, 0, 0, 0.87);
    overflow: visible;
    .wrapper_div{
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        height: 50px;
        .inner_div{
            display: flex;
            align-items: center;
            justify-content: space-between;
            width: 50%;
            height: 80%;
        }
    }
    #color{
        #color_input_map{
            height: 0;
            width: 0;
            visibility: hidden;
            position: absolute;
        }
        #color_div_map{
            width: 40px;
            height: 40px;
            background-color: white;
            filter: drop-shadow(0px 0px 10px #888);
        }
        #color_input_hex{
            width: 90px;
            height: 40px;
            border-bottom: 1px solid rgba(0, 0, 0, 0.87);
            text-align: center;
        }
    }
    #sizing{
        text-align: center;
        input{
            width: 40%;
            border-bottom: 1px solid rgba(0, 0, 0, 0.87);
        }
    }
    .mdc-slider{
        width: 100%;
        --mdc-theme-secondary: #ffffff;
    }
    #light{
        text-align: center;
        .mdc-select__dropdown-icon{
            fill: rgba(255, 255, 255, 1);
            color: #ffffff;
        }
        .mdc-line-ripple::before{
            border-bottom-color: #ffffff;
        }
        .mdc-select{
            --mdc-theme-primary: #ffffff;
            min-width: 100%;
            height: 35px;
        }
        .mdc-select__anchor{
            background-color: #627fd5;
            height: 35px;
            // background-color: #000;
        }
        #selected-text{
            color: white;
            transform: translateY(-60%);
        }
    }
    #code{
        color: #ffffff;
        font-size: 0.9em;
        background-color: #0f0f0f;
        padding: 16px;
        position: relative;
        p{
            line-height: calc((80px - 32px) / 2);
        }
        .property{
            color: #2E8CF6;
        }
        #function{
            color: #E6F845;
        }
        .mdc-icon-button::after{
            background-color: #ffffff;
        }
        #copy{
            position: absolute;
            top: 16px;
            right: 16px;
        }
    }
    // test-css
    background-color: white;
    filter: drop-shadow(0px 0px 10px #888888);
}
